div div.left-nav{
    background: #000075;
    width: 200px;
    transition: 0.3s ease-in-out;
}
div div.left-nav ul{
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    list-style: none;
    padding: 40px 60px;
}
div div.left-nav ul li{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


div.icon div.burger {
    width: 40px;
    height: 7px;
    margin: 5px;
    border-radius: 10px;
    background-color: #000;
}


.hide {
    width: 0px!important;
}